* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 80%);
  margin: 0;
  font-family: Arial, sans-serif;
}

main {
  width: 90vw;
  margin: 5rem auto;
}

.title {
  text-align: center;
  margin-bottom: 0;
}

.title-underline {
  background: #10b981;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
}

.loading {
  width: 75px;
  height: 75px;
  border: 6px solid black;
  border-top-color: #10b981;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
  margin: 5rem auto;
}

.btn.refresh {
  margin: 0 auto;
  border-radius: 20px;
  font-size: 1rem;
}

.tours-container {
  display: grid;
  padding: 2rem 0;
  gap: 2rem;
}

.tour {
  border-radius: 10px;
  position: relative;
  background-color: white;
  box-shadow: 0 5px 5px grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tour-image {
  height: 20rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  display: block;
  object-fit: cover;
}

.tour-price {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  background-color: #10b981;
  color: white;
  border-top-right-radius: 10px;
  font-size: 1rem;
  padding: 0.3em 1em;
}

.tour-info {
  padding: 0 1.5rem;
  flex-grow: 1;
}

.tour-info h5 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
}

.tour-info p {
  line-height: 1.5;
  color: hsl(0, 0%, 50%);
}

.read-more-btn {
  background: none;
  border: none;
  color: #10b981;
  cursor: pointer;
  padding: 0;
  font-size: 1em;
  margin-left: 5px;
}

.btn {
  cursor: pointer;
  border: 1px solid hsl(160, 84%, 45%);
  outline: none;
  padding: 0.5em 1em;
  color: hsl(160, 84%, 45%);
  display: block;
}

.btn-block {
  width: calc(100% - 2rem);
  margin: 1rem;
}

.btn:hover {
  background-color: hsl(160, 84%, 45%);
  color: white;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .tours-container {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
}

@media screen and (min-width: 992px) {
  .tours-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
